extends layout

block content

  h1 Напиток: #{drink.name}

  div(style='margin-left:40px;margin-top:20px')

    p Калорийность: #{drink.calories}
    p Описание: #{drink.description}
    p Цена: #{drink.price}